[user]
	name = Jared McGuire
	email = jrdmcgr@gmail.com

[github]
	user = jrdmcgr

[color]
	diff = true
	ui = auto

[alias]
	st = !clear && git status
	cm = commit
	cmm = commit -m
    cam = commit -am
	br = branch
	co = checkout
	df = diff
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit
	timeline = log --oneline --graph --decorate
	unstage = !git reset HEAD -- && clear && git status
    mylog = log --author=Jared --oneline --no-merges --branches --since=1.week.ago
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"
[core]
    editor = 'vim'
[http]
	sslVerify = true
