[user]
	name = Jared McGuire
	email = jrdmcgr@gmail.com

[github]
user = jrdmcgr

[color]
diff = true
ui = auto

[alias]
st = status
c = commit
cm = commit -m
br = branch
co = checkout
cb = checkout -b
df = diff
ds = diff --staged
lg = log --oneline --graph --decorate
ll = log --oneline --graph --decorate master..HEAD
p = pull --rebase
ch = cherry-pick
chc = cherry-pick --continue
su = submodule update --init --recursive
sd = submodule deinit -f .
ec = !vim ~/.gitconfig
weekly-report = log --author=Jared --oneline --no-merges --branches --since=1.week.ago
edit-modified = !subl $(git status --porcelain --ignore-submodules | awk '{print $2}')
undo = reset HEAD~1 --mixed
root = rev-parse --show-toplevel
unstage = reset HEAD
workprofile = config user.email "jmcguire2@laserspineinstitute.com"
stats = diff --stat master..HEAD
wtf = log --pretty=format:"%C(auto,yellow)%h%C(auto)%d%C(auto,reset)\\ by\\ %C(auto,blue)%cn%C(auto,reset),\\ %C(auto,cyan)%ar%C(auto,reset)%n\\ %s%n" --stat
tags = tag -n --sort='version:refname'
authors = !git log --format='%aN' | sort -u

[core]
editor = 'vim'
	autocrlf = input

[http]
sslVerify = true

[push]
default = current

[rerere]
;enabled = true

[diff]
tool = vimdiff

[credential "https://git-codecommit.us-east-1.amazonaws.com"]
helper = !aws codecommit credential-helper $@ 
UseHttpPath = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	rebase = true
[init]
	defaultBranch = main
[safe]
	directory = /usr/local/Homebrew
